.header-text {
  text-align: center;
}

.about__main-container {
  margin: 1rem 0 1rem 0;
  padding: 2rem 0 1rem;
}

.about__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-col.left {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(64, 0, 143, 0.09)),
    to(rgba(39, 92, 183, 0.09))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(64, 0, 143, 0.09),
    rgba(39, 92, 183, 0.09)
  );
  background: linear-gradient(
    to top,
    rgba(64, 0, 143, 0.09),
    rgba(39, 92, 183, 0.09)
  );
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.about-col.right {
  -ms-flex-item-align: start;
  align-self: flex-start;
  width: 100%;
}

.about-col > p {
  line-height: 30px;
  margin: 0 0 2.5rem 0;
}

.about__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.about-card {
  padding: 2rem 1rem;
  border: 1px solid #a4a7ff7d;
  border-radius: 1rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
  background: #31349513;
}

.about-card:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  background: #31349523;
}

.about-card img {
  width: 40px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.about-card h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.about-card p {
  font-size: 13px;
  line-height: 25px;
}

.most-use h4 {
  font-weight: normal;
  font-family: var(--outfit-font-family);
  margin: 2rem 0;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.tools li {
  border: 1px solid #565cff;
  height: 56px;
  width: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #a4a7ff7d;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

.tools li:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  background: #31349514;
}

.tools img {
  width: 28px;
  pointer-events: none;
}

.more-about {
  margin-left: auto;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: #31349533;
  border-radius: 3rem;
  text-align: center;
  color: #3e45fffd;
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.more-about:hover {
  background: #31349543;
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

/* About Media Queries */
@media screen and (max-width: 1144px) {
  .about__cards {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 819px) {
  .about__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  
  .about__cards {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 665px) {
  .about__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 470px) {
  .tools li {
    height: 50px;
    width: 50px;
  }
  
  .hide-mobile-screen {
    display: none !important;
  }
  
  .show-mobile-screen {
    display: block;
  }
}