.projects__main-container {
  margin: 5rem 0 2rem 0;
  padding: 2rem 0;
}

.projects__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.projects__card {
  padding: 2rem;
  border: 1px solid #192f5c;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  background: #14233f0a;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.projects__card:hover {
  -webkit-transform: translateY(-10px) scale(0.98);
  -ms-transform: translateY(-10px) scale(0.98);
  transform: translateY(-10px) scale(0.98);
  background: #14233f14;
}

.projects__card .project-image {
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.projects__card h3 {
  font-size: 1rem;
}

.projects__card .project-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.projects__card > svg {
  position: absolute;
  z-index: 90;
  top: 0;
  left: -1.2rem;
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotateZ(-45deg);
  background-color: hsl(128, 100%, 89%);
  font-size: 1.1rem;
  padding: 15px 30px;
  border-radius: 0 0 50px 50px;
  color: rgb(0, 206, 0);
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-header svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 40px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(64, 0, 143, 0.09)),
    to(rgba(39, 92, 183, 0.09))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(64, 0, 143, 0.09),
    rgba(39, 92, 183, 0.09)
  );
  background: linear-gradient(
    to top,
    rgba(64, 0, 143, 0.09),
    rgba(39, 92, 183, 0.09)
  );
  font-size: 1rem;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
  padding: 8px;
  color: var(--text-color);
}

.card-header h3 {
  font-size: 17px;
}

.card-header svg:hover {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(64, 0, 143, 0.18)),
    to(rgba(39, 92, 183, 0.18))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(64, 0, 143, 0.18),
    rgba(39, 92, 183, 0.18)
  );
  background: linear-gradient(
    to top,
    rgba(64, 0, 143, 0.18),
    rgba(39, 92, 183, 0.18)
  );
}

.card-description {
  font-size: 13px;
  line-height: 25px;
}

.cards-btns {
  margin: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cards-btns a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  padding: 0.7rem 1.5rem;
  border-radius: 4rem;
  color: var(--text-color);
}

.cards-btns a:nth-child(odd),
.card-btn {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#80acff86),
    to(hwb(219 7% 0% / 0.082))
  );
  background: -o-linear-gradient(left, #80acff86, hwb(219 7% 0% / 0.082));
  background: linear-gradient(to right, #80acff86, hwb(219 7% 0% / 0.082));
}

body.dark .cards-btns a:nth-child(odd) {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4282f986),
    to(hwb(219 7% 0% / 0.736))
  );
  background: -o-linear-gradient(left, #4282f986, hwb(219 7% 0% / 0.736));
  background: linear-gradient(to right, #4282f986, hwb(219 7% 0% / 0.736));
  color: #f5f5f5;
}

.cards-btns a:nth-child(even) {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#14233f86),
    to(hwb(219 73% 0% / 0.082))
  );
  background: -o-linear-gradient(left, #14233f86, hwb(219 73% 0% / 0.082));
  background: linear-gradient(to right, #14233f86, hwb(219 73% 0% / 0.082));
  text-transform: capitalize;
}

.cards-btns a:nth-child(even) svg {
  font-size: 1.2rem;
}

.cards-btns a img {
  width: 16px;
}

body.dark .card-btn {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4282f986),
    to(hwb(219 7% 0% / 0.736))
  );
  background: -o-linear-gradient(left, #4282f986, hwb(219 7% 0% / 0.736));
  background: linear-gradient(to right, #4282f986, hwb(219 7% 0% / 0.736));
  color: #f5f5f5;
}

.card-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin: 6rem auto 0 auto;
  text-align: center;
  padding: 0.7rem 1.5rem;
  border-radius: 4rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.card-btn:hover {
  -webkit-transform: translateX(-50%) translateY(-5px) scale(0.96);
  -ms-transform: translateX(-50%) translateY(-5px) scale(0.96);
  transform: translateX(-50%) translateY(-5px) scale(0.96);
}

/* Projects Media Queries */
@media screen and (max-width: 1144px) {
  .projects__cards {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 819px) {
  .projects__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 350px) {
  .cards-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
  }
}