#show-small-device {
  display: none;
}

#menu-btn {
  display: none;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-white);
  font-size: 1.5rem;
  cursor: pointer;
}

#active {
  color: var(--color-white);
  color: transparent;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background: var(--light-gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
}

/* Media Queries - App Level */
@media screen and (max-width: 1000px) {
  #hide-small-devices {
    display: none;
  }
  
  #show-small-device {
    display: block;
  }
}

@media screen and (max-width: 819px) {
  #menu-btn {
    display: block;
  }
}