* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --primary-color: linear-gradient(to right, #9239ff, #3a9dff 50%, #2da4ff);
  --color-white: #fff;
  --text-light-color: #efefef;
  --text-color: #dcdcdc;
  --gray-color: #7c7c7c;
  --bg-color: #050d20;
  --bg-light-color: #f5f5f5;
  --light-gradient-text: linear-gradient(to right, #3299ff, #fff);
  --dark-secondary-btn: linear-gradient(to bottom, #0c1a39 60%, transparent);
  --larger-font-size: 3rem;
  --medium-font-size: 2rem;
  --small-font-size: 1.3rem;
  --extra-small-font-size: 13px;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --max-width: 1250px;
  --outfit-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  line-height: 1.4;
  font-weight: 500;
  color: var(--text-color);
  scroll-padding: 10em;
}

body.dark {
  background-color: var(--bg-light-color);
  --light-gradient-text: linear-gradient(to right, #3299ff, #191919);
  --bg-color: #f5f5f5;
  --color-white: #000000;
  --text-color: #212121;
  --gray-color: #7c7c7c;
  --bg-light-color: #f5f5f5;
  --p-color: #080808d2;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: var(--max-width);
  margin: 5rem auto 1rem auto;
  padding-inline: 24px;
}

.btn-primary {
  display: inline-block;
  color: var(--color-white);
  padding: 1rem 2rem;
  text-align: center;
  background: var(--primary-color);
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

body.dark .btn-primary {
  color: #fff;
}

.btn-primary:hover {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.secondary-btn {
  padding: 1rem 3rem;
  text-align: center;
  background-color: #0c1a39;
  background: var(--dark-secondary-btn);
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #192f5c;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.secondary-btn:hover {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(60%, #112247),
    to(transparent)
  );
  background: -o-linear-gradient(top, #112247 60%, transparent);
  background: linear-gradient(to bottom, #112247 60%, transparent);
}

body.dark .secondary-btn {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(60%, #cadbff8f),
    to(transparent)
  );
  background: -o-linear-gradient(top, #cadbff8f 60%, transparent);
  background: linear-gradient(to bottom, #cadbff8f 60%, transparent);
  border-color: #b6cdff;
}

.gradient-text {
  background: var(--primary-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.small-card {
  margin: 0 0 1rem 0;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: #192f5c1a;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #192f5c4a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: var(--extra-small-font-size);
}

.title {
  font-size: var(--larger-font-size);
  font-family: var(--outfit-font-family);
  font-weight: 500;
}

.light-mode {
  display: none;
}

.show-mobile-screen {
  display: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #294a7e5f;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #294a7e90;
}

::-webkit-scrollbar-track {
  background-color: #294a7e14;
  border-radius: 10px;
}

/* Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Animations */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-up.appear {
  opacity: 1;
  transform: translateY(0);
}

/* Media Queries - Global */
@media screen and (max-width: 1250px) {
  .container {
    padding-inline: 24px;
  }
}

@media screen and (max-width: 350px) {
  .title {
    font-size: 2rem;
  }
}

/* Hero small card */
.hero-small-card {
  background: #11224764;
  color: #0051ff;
  border-radius: 0 3rem 3rem 0;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}

body.dark .hero-small-card {
  background: #eff4ffeb;
  border-color: #abc0ed49;
}